<p>
    <ons-input id="username" modifier="underbar" placeholder="用户名" float></ons-input>
</p>
<p>
    <ons-input id="password" modifier="underbar" placeholder="密码" type="password" float></ons-input>
</p>
<p>
    <ons-input id="confirm-password" modifier="underbar" placeholder="确认密码" type="password" float></ons-input>
</p>
<p>
    <ons-input id="realname" modifier="underbar" placeholder="真实姓名" float></ons-input>
</p>
<p>
    <ons-input id="id_no" modifier="underbar" placeholder="身份证号" float></ons-input>
</p>
<p>
    <ons-input id="mobile" modifier="underbar" placeholder="手机号码" float></ons-input>
</p>

<p style="margin-top:30px">
    <ons-input id="referrer" type="hidden"  value="{{referrer_id}}"></ons-input>
    <ons-button onclick="fn.User.register()">注册</ons-button>
</p>