<p>
    <ons-input id="username" modifier="underbar" placeholder="username" float></ons-input>
</p>
<p>
    <ons-input id="password" modifier="underbar" placeholder="password" type="password" float></ons-input>
</p>
<p>
    <ons-input id="confirm-password" modifier="underbar" placeholder="confirm" type="password" float></ons-input>
</p>
<p>
    <ons-input id="id_no" modifier="underbar" placeholder="number_id" float></ons-input>
</p>
<p>
    <ons-input id="mobile" modifier="underbar" placeholder="number_id" float></ons-input>
</p>

<p style="margin-top:30px">
    <ons-input id="referrer" type="hidden"  value="{{referrer_id}}"></ons-input>
    <ons-button onclick="fn.User.numregister()">请注册</ons-button>
</p>