/*测试可视化*/
#top_main,#nav,#banner,#main,#foot_box,#footer{
    border: 1px solid #333;
}

/*通用属性*/
/*文字大小，颜色，字体*/
body{
    font:12px "microsoft yahei",Arial,Helvetica,sans-serif;
    color:#666;
    margin:0;
    padding:0;
}
/*超链接 a的样式*/
a{
    color:#666;
    text-decoration:none;
}
/*鼠标移动经过样式*/
a:hover{
    color:#ff0700;
    text-decoration:underline;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd{
	margin:0;
	padding:0;
	list-style:none;
}

/*左右浮动*/
.fl{
    float:left;
}
.fr{
    float:right;
}

/*伪类清除浮动*/
.clear_float:after,
.clear_float:before{
    content: " ";
    display: block;
    clear: both;
}

/*开始布局*/
/*元素水平居中，w：1211px*/
.top_box,#top_main,#nav,#banner,#main,#foot_box,#footer{
    width: 1211px;
    margin: 0 auto;
}

/*顶部布局：w:100%，h：30px,bg-color:#F7F7F7*/
#top{
    width: 100%;
    height: 30px;
    background: #f7f7f7;
    line-height: 30px; /*为了让文字水平垂直居中*/
}

/*图片位置的调整*/
.top_box>img{
    margin: 9px 5px 0 0 ;
}

/*右半部分，文字列表*/
.top_lists > li{
    float: left;
    margin-right: 5px;
}


/*右半部分的分割线*/
.top_box ul li b{
    border-left: 1px solid #ddd;
    margin-right: 5px;
    line-height: 30px;
}

/*会员俱乐部左侧图标*/
.vipclub a{
    background: url(../imgs/vip.jpg) no-repeat no-repeat left center;
    padding-left: 29px;

}
/*企业频道*/
.channel a{
    padding-left: 26px;
    background: url(../imgs/dakehu.jpg) no-repeat left center;
}

/*难点：手机京东*/
.jd_app a{
    display: inline-block;
    height: 22px;/*logo有高度，需要设置高度*/
    padding-left: 18px;
    line-height: 22px;/*文字垂直居中*/
    background: url(../imgs/iconlist_2.png) no-repeat -128px -360px;
}

/*手机京东：鼠标移动效果:背景改变*/

.jd_app a:hover{
     background: url(../imgs/iconlist_2.png) no-repeat -128px -399px;
    /*背景图像位置的定位*/
}

/*弹出菜单效果*/
/*客户服务*/
.service{
    position: relative;
}
li.service>a{
    /*左右内边距假装宽度*/
    /*高度，行高*/
    /*边框：左右上（透明），防止显示时串位置*/
    /*背景*/
    padding: 0 15px;/*上下0，左右15px*/
    display: inline-block;
    height: 27px;
    line-height: 27px;
    border: 1px solid transparent;
    border-bottom: none;
    /*背景*/
    background: url(../imgs/jt_down.jpg) no-repeat 95% center;
}

/*服务：鼠标移入，显示边框*/
/*之前移动到a上，现在修改移动到service上*/
li.service>a:hover{
    /*显示边框颜色，背景为白，更换背景图*/

    /*border-color: #dddddd;*/

     /*background: url(../imgs/jt_up.jpg) no-repeat 95% center;*/
     /*background-color: #ffffff;*/
}
/*弹出服务列表*/
.service .service_lists {
    text-align: center;
    width: 80px;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-top: none;/*无上边框*/
    box-sizing: border-box;
    position: absolute;
    top:28px;
    left: 6px;
    display: none;
}

/*鼠标经过，弹出菜单*/
li.service:hover .service_lists {
    display: block;

}

li.service:hover>a{
    border-color: #dddddd;
     background: url(../imgs/jt_up.jpg) no-repeat 95% center;
     background-color: #ffffff;
}


/*logo与搜索框*/
#top_main{
    padding: 10px 0;
}

/*搜索框*/
.search_box{
    margin: 0 80px 0 45px;
    width: 500px;
}
.search_box .search{
    width: 500px;
    height: 30px;
    background: #E4393C;
    padding: 3px;
}

.search_box input{
	width:410px;
	height:30px;
	border:0px;
	padding:0px;
}
.search_box .search button{
    width: 80px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    border: 0;
    background: #E4393C;

}