/*测试属性*/
#top_main,#nav,#banner,#main,#foot_box,#footer{
	border:1px solid #000;
}

/*通用属性*/
body{
	font:12px "microsoft yahei",Arial,Helvetica,sans-serif;
	color:#666;
	margin:0;
	padding:0;
}
a{
	color:#666;
	text-decoration:none;
}
a:hover{
	color:#ff0700;
	text-decoration:underline;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd{
	margin:0;
	padding:0;
	list-style:none;
}
.lf{float:left;}
.rt{float:right;}
.clear{clear:both;}
/***********************************/
/***1、布局***/
#top_box,#top_main,#nav,#banner,#main,#foot_box,#footer{
	/*宽度，元素水平居中对齐*/
	width:1211px;
	margin:0 auto;
}
/*页面顶端背景条：宽度100%,灰色背景:#F7F7F7,下边框：#eee*/
#top{
	width:100%;
	background:#f7f7f7;
	border-bottom:1px solid #eee;
	height:30px;
	line-height:30px;
}
/*五角星的上外边距*/
#top_box>img{
	margin-top:9px;
	margin-right:5px;
}
/*文字列表*/
#top_box>ul>li{
	float:left;
	margin-right:5px;
}
/*列表项中的 b标记，模拟边框*/
#top_box>ul>li b{
	/*左边框*/
	border-left:1px solid #ddd;
	margin-right:5px;
}
/*会员俱乐部：背景图像处理*/
li.vip a{
	/*左内边距，背景属性*/
	padding-left:29px;
	background:url(Images/vip.jpg) no-repeat left center;
}
/*手机京东*/
li.app_jd a{
	/*左侧预留：18px*/
	padding-left:18px;
	/*高度：22px*/
	display:inline-block;
	height:22px;
	line-height:22px;
	/*背景*/
	background:url(Images/iconlist_2.png) no-repeat -128px -360px;
}
li.app_jd a:hover{
	background-position:-128px -399px;
}
/**客户服务**/
li.service a{
	/*左右内边距模拟宽度*/
	padding:0 15px;
	/*高度*/
	display:inline-block;
	height:26px;
	line-height:26px;
	/*背景等*/
	background:url(Images/jt_down.jpg) no-repeat 95% center;
	/*边框：透明*/
	border:1px solid transparent;
	border-bottom:0;
}
li.service a:hover{
	/*边框颜色，背景颜色，换背景图*/
	border-color:#ddd;
	background-color:#fff;
	background-image:url(Images/jt_up.jpg);
}